{# Extending the page template to abstract blocks for the CLF areas out of the template -- currently not working... #}

{% extends "@galactus/page/page.html.twig" %}

{# % block clfsearchbox %}
<div id="ubc7-search-box">      
  <form class="form-search" method="get" action="https://www.ubc.ca/search/refine/" role="search">
    {% if searchlabel_option %}
    <input type="text" name="q" placeholder="{{ searchlabel_option }}" class="input-xlarge search-query">
    {% else %}
    <input type="text" name="q" placeholder="Search this website" class="input-xlarge search-query">
    {% endif %}
    <input type="hidden" name="label" value="Search" />
    {% if searchdomain_option %}
    <input type="hidden" name="site" value="{{ searchdomain_option }}" />
    {% else %}
    <input type="hidden" name="site" value="*.ubc.ca" />
    {% endif %}
    <button type="submit" class="btn">Search</button>
  </form>
</div>
{% endblock clfsearchbox % #}

{# % block clfheader %}
<div class="span1">
  <div id="ubc7-logo">
    <a href="http://www.ubc.ca">The University of British Columbia</a>
  </div>
</div>
<div class="span2">
  <div id="ubc7-apom">
    <a href="//cdn.ubc.ca/clf/ref/aplaceofmind">UBC - A Place of Mind</a>                        
  </div>
</div>
<div class="span9" id="ubc7-wordmark-block">
  <div id="ubc7-wordmark">
    <a href="http://www.ubc.ca">The University of British Columbia</a>
    {% if campus_option == 'vancouver' %}
    <span class="ubc7-campus" id="ubc7-vancouver-campus">Vancouver Campus</span>
    {% endif %}
    {% if campus_option == 'okanagan' %}
    <span class="ubc7-campus" id="ubc7-okanagan-campus">Okanagan Campus</span>
    {% endif %}
  </div>
  <div id="ubc7-global-utility">
    <button type="button" data-toggle="collapse" data-target="#ubc7-global-menu"><span>UBC Search</span></button>
    <noscript><a id="ubc7-global-utility-no-script" href="http://www.ubc.ca/">UBC Search</a></noscript>
  </div>
</div>
{% endblock clfheader % #}
    
{# % block clfunitarea %}
<div class="span12">
  <div class="navbar">
    <a class="btn btn-navbar" data-toggle="collapse" data-target="#ubc7-unit-navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  {% if faculty_option %}
  <div id="ubc7-unit-name">
    <a href="/">
      <span id="ubc7-unit-faculty">{{ faculty_name }}</span>
    {% else %}
    <div id="ubc7-unit-name" class="ubc7-single-element">
      <a href="/">
    {% endif %}
    <span id="ubc7-unit-identifier">{{ unit_name }}</span></a>
  </div>
</div>
{% endblock clfunitarea % #}
    

{# Footer Area Unit Menu - Mobile Only #}
{# % block clfmobilenav %}
<div id="ubc7-unit-alternate-navigation" class="navbar expand visible-phone" role="navigation">
  <div class="navbar-inner expand">
    <div class="nav-collapse collapse">
      {{ page.primary_menu }}
    </div>
  </div>
</div>
{% endblock clfmobilenav % #}

{# % block clffooter %}
<div class="span10" id="ubc7-unit-address">
  <div id="ubc7-address-unit-name">{{ unit_name }}</div>
  {% if campus_option %}
  <div id="ubc7-address-campus">{% if campus_option == 'vancouver' %}Vancouver Campus{% endif %}{% if campus_option == 'okanagan' %}Okanagan Campus{% endif %}</div>
  {% endif %}
  {% if address_option %}
  <div id="ubc7-address-street">{{ address_option }}</div>
  {% endif %}
  {% if locality_option or region_option or country_option or postal_option %}
  <div id="ubc7-address-location">
    {% if locality_option %}<span id="ubc7-address-city">{{ locality_option }}</span>, {% endif %}{% if region_option %}<span id="ubc7-address-province">{{ region_option }}</span> {% endif %}{% if country_option %}<span id="ubc7-address-country">{{ country_option }}</span> {% endif %}{% if postal_option %}<span id="ubc7-address-postal">{{ postal_option }}</span>{% endif %}
  </div>
  {% endif %}
  {% if phone_option %}<div id="ubc7-address-phone">{{ phone_option }}</div>{% endif %}
  {% if fax_option %}<div id="ubc7-address-fax">{{ fax_option }}</div>{% endif %}
  {% if email_option %}<div id="ubc7-address-email">E-mail {{ email_option }}</div>{% endif %}
  {% if website_option %}<div id="ubc7-address-website">Website {{ website_option }}</div>{% endif %}
</div>
<div class="span2">
  {% if facebook_option or twitter_option or youtube_option or linkedin_option or googleplus_option %}
  <strong>Find us on</strong>
  <div id="ubc7-unit-social-icons">
    {% if facebook_option %}<a href="{{ facebook_option }}"><i class="icon-facebook-sign"></i></a>&nbsp;{% endif %}
   {% if twitter_option %}<a href="{{ twitter_option }}"><i class="icon-twitter-sign"></i></a>&nbsp;{% endif %}
   {% if youtube_option %}<a href="{{ youtube_option }}"><i class="icon-youtube-sign"></i></a>&nbsp;{% endif %}
   {% if linkedin_option %}<a href="{{ linkedin_option }}"><i class="icon-linkedin-sign"></i></a>&nbsp;{% endif %}
   {% if googleplus_option %}<a href="{{ googleplus_option }}"><i class="icon-googleplus-sign"></i></a>{% endif %}
  </div>
  {% endif %}
</div>
{% endblock clffooter % #}

{% block clfglobalfooter %}
<div class="span12">
  <ul>
    <li><a href="//cdn.ubc.ca/clf/ref/emergency">Emergency Procedures</a> <span class="divider">|</span></li>
    <li><a href="//cdn.ubc.ca/clf/ref/terms">Terms of Use</a> <span class="divider">|</span></li>
    <li><a href="//cdn.ubc.ca/clf/ref/copyright">UBC Copyright</a> <span class="divider">|</span></li>
    <li><a href="//cdn.ubc.ca/clf/ref/accessibility">Accessibility</a></li>
  </ul>
</div>
{% endblock clfglobalfooter %} 